.navbar-wrapper {
    display: flex;
}

.menu-navbar li {
    display: inline;
    margin: 10px 15px;

}

.menu-navbar a {
    text-decoration: none;
    color: rgb(20, 173, 59);
    transition: 0.5s;
    font-weight: 600;
}

.menu-navbar a:hover {
    transform: scale(1.1);
}